
  .my-icon {
    width: 90%;
    height: 90%;
  }
  .experince-title {
    color: #fff; 
    font-size: 24px; 
    font-weight: bold; 
  }
  .experience-subtitle{
    color: grey;
    font-size: 20px !important; 
    font-weight: 600; 
    margin: 0; 
  }

  .list-item {
    margin-top: 15px; 
    list-style-type: disc; /* Style the list items with disc (bullet) markers */
    margin-left: 10px;
    margin-bottom: 15px; 
  }

  .experience-describe {
    margin-bottom: 15px; 
    color: #fff; 
    font-size: 20px;
    padding-left: 5px;
    font-family: Arial, sans-serif;
  }
  
  
  